GRPC_ADDR=127.0.0.1:50051
SCYLLA_NODES=127.0.0.1:9042
SCYLLA_KEYSPACE=grpc_starter
GRPC_TLS_CERT=certs/dev/server.crt
GRPC_TLS_KEY=certs/dev/server.key
GRPC_TLS_CLIENT_CA=certs/dev/ca.crt
GRPC_ALLOW_INSECURE=false
